.userpage-continer {
  box-sizing: border-box;
  background-color: #918c8c;
  width: 100%;
  height: 100%;
  position: relative;
  .speaker-list-container {
    background-color: white;
    position: absolute;
    right: 0;
    width: 600px;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
    animation: smartAnimate 300ms ease-in-out;

    

    .header {
      height: 75px;
      width: 100%;
      padding: 24px;
      top: 0;
      position: absolute;
      background-color: #f6f8f8;
      border-radius: 12px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2%;
      }
      .croos-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
    .search-bar-container {
      position: absolute;
      background-color: red;
      width: 100%;
      top: 75px;
      .search-bar {
        width: 100%;
        height: 90px;
        background-color: #fff;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
       position: relative;
        .search-icon {
          position: absolute;
          width: 20px;
          height: 20px; 
          left: 40px;
        }
        input[type="search"] {
          width: 100%;
          padding: 12px 20px 12px 40px; 
         border: 1px solid #E9E9E9; 
               border-radius: 12px;
        
        &::placeholder {
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #797979; /* Optional: Set color for placeholder text */
        }
      }
      }
      
    }
    .user-box-container{
      position: absolute;
      top: 150px;
      height: calc(100% - 165px);
      width: 100%;
      overflow-y: scroll;
      padding: 24px;
      &::-webkit-scrollbar {
        width: 1px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: white;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent; /* Optional: customize the track color */
      }
      .speaker-box {
        width: 100%;
        height: 122px;
        border-radius: 12px;
        border: 1px solid #E9E9E9;
        padding: 20px;
        margin-bottom: 8px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
       position: relative;
       &.active{
        border: 1px solid #4CBB3E;

       }
        .user-details {
          display: flex;
          align-items: center;
      
          .user-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #F0F0F0; 
            margin-right: 16px;
          }
      
          .user-info {

            .user-name {
              font-size: 16px;
              font-weight: 600;
              margin: 0;
            }
      
            .user-role {
              font-size: 14px;
              color: #888888;
              margin: 4px 0 0;
            }
           
          }

          
        }
        .edit-button {
          display: flex;
          align-items: center;
          margin-left: 64px;

          .edit-icon{
          width: 18px;
          height: 18px;
          cursor: pointer;
          margin-right: 4px;
          }
          .subtitle2 {
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.2%;
            color: #E4875D;
           
      
            
          }
        }
        .checkbox-container {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 18px;
          height: 18px;
          cursor: pointer; 
        }
        
        .speaker-checkbox {
          width: 18px;
          height: 18px;
          cursor: pointer; 
          appearance: auto; 
          accent-color: green; 
          
          background-color: #f0f0f0;
          border: 2px solid #636363;
          border-radius: 2px; 
        
          &:checked {
            background-color: #4CBB3E; 
            border-color: #4CBB3E; 
          }
        }
        
        

       
      }
      
    }

    .footer {
      height: 90px;
      padding: 24px;
      width: 100%;
      bottom: 0;
      position: absolute;
      background-color: #ffffff;
      border-top: 1px solid #dbdbdb;
      border-radius: 1px 0px 0px 12px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .action {
        display: flex;
        gap: 10px;
        .btn {
          height: 42px;
          border-radius: 10px;
          padding: 0px 8px;
          border: none;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;

          &.add {
            background-color: #e9e9e9;
            color: #8f8f8f;
            width: 61px;
            &.active{
              background-color: #E4875D;
              color: #fff;
              cursor: pointer;

            }
          }
          &.cancel {
            color: #e4875d;
            background-color: #fcf3ef;
            width: 80px;
          }
        }
      }
      .text {
        color: #e4875d;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;
      }
    }
  }
  
  @keyframes smartAnimate {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
